[Unit]
Description=Atuin daemon

[Service]
Type=simple
ExecStart=/usr/bin/atuin daemon

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
