[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[core]
        autolf = true
        pager = delta
[init]
        defaultBranch = main
[commit]
        # gpgsigh = true
# [gpg]
#         program = /path/to/gpg
[push]
        autoSetupRemote = true
        default = current
[alias]
        undo = reset --sort HEAD^
[delta]
        line-numbers = true
[user]
        name = ZennoZenith
        email = ZennoZenith@proton.me
